In [1]:
# importing packages 'pandas'

import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# import 'Netflix Entertainment Dataset'

netflix1 = pd.read_csv("netflix1.csv")
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
netflix1.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country
0,81145628,Norm of the North: King Sized Adventure,Movie,"Children & Family Movies, Comedies",2019-09-09,2019,"United States, India, South Korea, China"

# Beginning of Data Wrangling

In [3]:
# Value_counts() function to sum total TV_Shows and Movies

netflix1.StreamR.value_counts()
netflix1.StreamR.value_counts()

Movie      4265
TV_Show    1969
Name: StreamR, dtype: int64

In [4]:
# Remove 'Movie' rows from StreamR column

# Get names of indexes for which column Age has value 30
index = netflix1[ netflix1['StreamR'] == "Movie" ].index

# Delete these row indexes from dataFrame
netflix1.drop(index , inplace=True)
netflix1.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country
2,70234439,Transformers Prime,TV_Show,Kids' TV,2018-09-08,2013,United States

In [5]:
# Split and rename Columns

netflix_TV = netflix1['listed_in'].str.split(',', expand=True).rename(columns = lambda x: 'Gengre'+str(x+1))
netflix_TV.rename(columns = {'Gengre1' : 'Kids_TV', 'Gengre2' : 'Crime', 'Gengre3' : 'Docuseries'}, inplace = True)
netflix_TV.head(1)

    Kids_TV Crime Docuseries
2  Kids' TV  None       None

In [6]:
nt = netflix_TV.drop(['Crime','Docuseries'], axis=1)
nt.head(1)

    Kids_TV
2  Kids' TV

In [7]:
# dummy coding kids_TV column

kidsDummy = pd.get_dummies(nt['Kids_TV'],drop_first=True)

kids1 = pd.concat([netflix1, nt, kidsDummy], axis = 1)
kids1.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Kids_TV,British TV Shows,Classic & Cult TV,Crime TV Shows,Docuseries,International TV Shows,Kids' TV,Reality TV,Romantic TV Shows,Spanish-Language TV Shows,Stand-Up Comedy & Talk Shows,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Sci-Fi & Fantasy,TV Shows
2,70234439,Transformers Prime,TV_Show,Kids' TV,2018-09-08,2013,United States,Kids' TV,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [109]:
# Exporting dataframe: netflix to an csv file.
kids1.to_csv("kids1.csv", index = False) #Python

In [8]:
kids1 = pd.read_csv("kids1.csv")
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
kids1.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Kids_TV,British,Cult,Crime,Docuseries,International,Kids,Reality,Romantic,Spanish,Stand_Up_Comedy,Action,Comedies,Dramas,Horror,Sci_Fi,TV_Shows
0,70234439,Transformers Prime,TV_Show,Kids' TV,9/8/2018,2013,United States,Kids' TV,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

# Beginning of Crime column

In [9]:
nt1 = netflix_TV.drop(['Kids_TV','Docuseries'], axis=1)
nt1.head(1)

  Crime
2  None

In [10]:
# dummy coding crime column
crimeDummy = pd.get_dummies(nt1['Crime'], drop_first=True)

# Concat 2 datasets 'tv' and 'crimeDummy'
crime = pd.concat([netflix1, nt1, crimeDummy], axis=1)
crime.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Crime,Crime TV Shows,Docuseries,International TV Shows,Kids' TV,Korean TV Shows,Reality TV,Romantic TV Shows,Science & Nature TV,Spanish-Language TV Shows,Stand-Up Comedy & Talk Shows,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Mysteries,TV Sci-Fi & Fantasy,TV Thrillers,Teen TV Shows
2,70234439,Transformers Prime,TV_Show,Kids' TV,2018-09-08,2013,United States,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
crime = pd.read_csv("crime.csv")
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
crime.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Crime,Crime_TV,Docuseries,International,Kids,Korean,Reality,Romantic,Science,Spanish,Stand_Up_Comedy,Action,Comedies,Dramas,Horror,Mysteries,Sci_Fi,Thrillers,TV_Shows
0,70234439,Transformers Prime,TV_Show,Kids' TV,9/8/2018,2013,United States,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Beginning of Docuseries column

In [12]:
nt2 = netflix_TV.drop(['Kids_TV','Crime'], axis=1)
nt2.head(1)

  Docuseries
2       None

In [13]:
# dummy coding Docuseries column
docDummy = pd.get_dummies(nt2['Docuseries'],drop_first=True)

doc = pd.concat([netflix1, nt2, docDummy], axis=1)
doc.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Docuseries,International TV Shows,Korean TV Shows,Reality TV,Romantic TV Shows,Science & Nature TV,Spanish-Language TV Shows,Stand-Up Comedy & Talk Shows,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Mysteries,TV Sci-Fi & Fantasy,TV Thrillers,Teen TV Shows
2,70234439,Transformers Prime,TV_Show,Kids' TV,2018-09-08,2013,United States,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [119]:
# Exporting dataframe: crime to an csv file.
doc.to_csv("doc.csv", index = False) #Python

In [14]:
doc = pd.read_csv("doc.csv")
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
doc.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Docuseries,International,Korean,Reality,Romantic,Science,Spanish,Stand_Up_Comedy,Action,Comedies,Dramas,Horror,Mysteries,Sci_Fi,Thrillers,TV_Shows
0,70234439,Transformers Prime,TV_Show,Kids' TV,9/8/2018,2013,United States,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Concat 'tv_kids', 'Crime'and 'doc' dataframes

In [16]:
tvStreaming = pd.concat([kids1, crime, doc], axis=1)
tvStreaming.head(1)

,show_id,title,StreamR,listed_in,date_added,release_year,country,Kids_TV,British,Cult,Crime,Docuseries,International,Kids,Reality,Romantic,Spanish,Stand_Up_Comedy,Action,Comedies,Dramas,Horror,Sci_Fi,TV_Shows,show_id,title,StreamR,listed_in,date_added,release_year,country,Crime,Crime_TV,Docuseries,International,Kids,Korean,Reality,Romantic,Science,Spanish,Stand_Up_Comedy,Action,Comedies,Dramas,Horror,Mysteries,Sci_Fi,Thrillers,TV_Shows,show_id,title,StreamR,listed_in,date_added,release_year,country,Docuseries,International,Korean,Reality,Romantic,Science,Spanish,Stand_Up_Comedy,Action,Comedies,Dramas,Horror,Mysteries,Sci_Fi,Thrillers,TV_Shows
0,70234439,Transformers Prime,TV_Show,Kids' TV,9/8/2018,2013,United States,Kids' TV,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,70234439,Transformers Prime,TV_Show,Kids' TV,9/8/2018,2013,United States,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70234439,Transformers Prime,TV_Show,Kids' TV,9/8/2018,2013,United States,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [17]:
tvStreaming.Kids_TV.value_counts()

International TV Shows          570
Crime TV Shows                  309
Kids' TV                        288
British TV Shows                210
Docuseries                      148
Anime Series                    117
TV Comedies                      89
Reality TV                       63
TV Dramas                        56
TV Action & Adventure            30
Stand-Up Comedy & Talk Shows     28
Romantic TV Shows                21
Classic & Cult TV                19
TV Shows                         10
TV Horror                         9
TV Sci-Fi & Fantasy               1
Spanish-Language TV Shows         1
Name: Kids_TV, dtype: int64

In [124]:
# Exporting dataframe: netflix to an csv file.
tvStreaming.to_csv("tvStreaming.csv", index = False) #Python